<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">        
	<title>Cattle WebAppp</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
 	<link href="/stylesheets/main.css" rel="stylesheet">
</head>

<nav class="navbar navbar-default" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="/">Cattle WebApp</a>
                        </div>
                        <div class="nav justify-content-end">
                                <ul class="nav justify-content-end">
                                        <% if(!currentUser){ %>
                                        <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                                        <li class="nav-item"><a class="nav-link active" href="/register">Sign Up</a></li>
                                        <% } else { %>
                                        <li class="nav-item"><a class="nav-link active" href="#">Signed In As <%= currentUser.username %></a></li>
                                        <li class="nav-item"><a class="nav-link active" href="/logout">Logout</a></li>
                                        <% } %>
                                </ul>
                        </div>
                </div>
        </nav>
<body>
<hr>
