<% include partials/header %>

<div class="container">

<h1><i class="fa fa-server fa-2x" aria-hidden="true"></i> Cattle Tracking Application</h1>
<p>Welcome to The Cattle WebApp, Please Register, Thank You.</p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAoUfebD4Yl_fJvGhTHYoxppbYlVrv4_u0&center=-10.6260,124.8046&zoom=3" allowfullscreen>
</iframe>

<hr>
<a href="/shipment">View all Shipments</a>
<% include partials/footer %>
